
.nav-pills .nav-item .nav-link {
    background-color:transparent;
    color: var(--bs-gray-600)
}

.tab-pane.fade:not(.show) {
    opacity: 1;
}

.nav-pills .nav-item .nav-link.active,
.nav-pills .nav-item .show>.nav-link {
    background-color: var(--bs-gray-700);
}